//Font Vars
body {
    font-family: 'Nunito', sans-serif !important;
}

// Color vars
$warning: #fcc513 !default; 
$gray: #aeaec1;



//.btn-warning {
 //   background-color: $warning;
    
//}



// Import Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap.scss"
