@use '../custom' as *;





.bg-light {
    background-color: white !important;

    li {
        margin-left: 2rem;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        color: $gray !important;
        
    }
}