@use '../custom' as *;
.col-md-6 {
    &__image {
      float: right;
    }
    &__signup {
      display: inline;
    }
  }

.signup-section {

    width: 100%;
    height: 100%;

}

.signup {
    color: #343563 !important;
    font-size: 42px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 1rem;
    font-family: 'Nunito', sans-serif;

    h1 {
        color: #343563 !important;
    }
    
}