@use '../custom' as *;
.img-fluid {
    display: inline-block;
    vertical-align: top;
    width: 46%;
}

.signup-section {
    width: 100%;
    height: 100%;

}

.signup {
    color: #343563 !important;
    font-size: 42px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 1rem;
    font-family: 'Nunito', sans-serif;
    width: 46%;
    h1 {
        color: #343563 !important;
    }
    
}