@use '../custom' as *;

.banner {
    background-image: url("img/container.jpeg");
    width: 100%;
    display: inline;
}

.white-box {
    background-color: white;
    width: 50%;
    display: block;
}

