@use '../custom' as *;

//CSS for 'Sign In' button for index page
.btn-xl {
    padding: 5px 50px;
    font-size: 20px;
    border-radius: 10px;
}


.btn-warning {
    background-color: $warning;
    color: white !important;
}