@use '../custom' as *;

//CSS for 'Sign In' button for index page
.test-class {
    font-size: 100px !important;
    background-color: $warning;
    color: white !important;

}


.btn-warning {
    background-color: $warning;
    color: white !important;
}