@use '../custom' as *;

//CSS for 'Sign In' button for index page

#round-button {
   position: relative !important;
   padding: 0.9375rem 1.2rem !important;
   margin: 0 !important;
}

.btn-warning {
    background-color: $warning;
    color: white !important;
}